*{
    box-sizing: border-box;
}

#builderContainer{
    display: inline-block;
}

#builderLayoutContainer{
    background-color: red;
    display: inline-block;
}

#builderButtonContainer{
    background-color: grey;
}

#tileTypeSelectors{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.builderButton{
    min-width: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.layoutRow{
    background-color: yellow;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.layoutTile{
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #8cb1ca;
    background-color: #b4d5eb;
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    display: block;
}

canvas{
    background-color: red;
}
